:root{
    --primary-bg-color: rgb(65, 180, 180);
    --secondary-bg-color: rgb(27, 27, 27);
    --primary-font: 'Gowun Batang', serif;
    --solo-font: 'Geostar', cursive;
    --solo-color: rgb(52, 158, 158);
}

*{box-sizing: border-box;}
body{
    padding: 0; 
    margin: 0; 
    font-family: var(--primary-font);
    height: 100vh;
    font-size: 1.25em;
}

#appsolo{
    font-family: var(--solo-font);
    color: var(--solo-color);
    font-size: 1.5rem;
}

h2{
    text-align: center;
    font-weight: 800;
}

.start, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-bottom: 0.5rem;
}

form button{
    margin-bottom: .5rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    min-height: 100%;
    background-color: var(--primary-bg-color);
    position: relative;
}

.pixel-grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.pixel{
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

.pixel-black{
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border: solid rgb(255, 255, 255) 1px;
}

.color-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: aqua;
    top: 2px;
    border: solid black 1px;
    border-radius: .25rem;
    padding: .125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.color-div p {
    margin: 0 .5rem 0 0;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--secondary-bg-color);
    color: var(--solo-color);
}

.brand p {
    margin: 0;
}

.connect{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

#github{
    height: 37px;
    margin-right: .125rem;
}

@media screen and (min-width: 635px) {

    .pixel-grid{
        display: grid;
        grid-template-columns: repeat(12, auto);
    }
}

@media screen and (min-width: 655px) {

    .color-div{
        flex-direction: column;
    }
    .color-div p{
        margin: 0;
    }
}

@media screen and (min-width: 1000px) {

    .pixel-grid{
        display: grid;
        grid-template-columns: repeat(18, auto);
    }
}

@media screen and (min-width: 1250px) {

    .pixel-grid{
        display: grid;
        grid-template-columns: repeat(24, auto);
    }
}